:root {
  --cherry: #a0050a;
  --cherryHover: #6c0b0e;
  --black: #000;
  --white: #fff;
  --whiteGrey: #f5f5f5;
  --marginBetweenSection: 96px;
}

* {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}
strong {
  text-align: center;
}

/* STYLE FOR PC*/

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 28px 0;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

.title-main {
  padding: 43px 0;
  margin-bottom: 24px;

  font-weight: 500;
  text-align: center;

  color: var(--cherry);
  border-color: var(--cherry);
  border-bottom: 4px solid var(--cherry);
  border-top: 4px solid var(--cherry);
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;
  margin-bottom: 24px;
  height: 70px;

  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: var(--white);
  background-color: var(--cherry);
  border: 1px solid var(--black);
}

.estimacion__subtitle {
  padding-top: 16px;

  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: var(--white);
}

.text {
  margin-bottom: 24px;
}

/* HEADER */
.header {
  left: 0px;
  top: 0px;
  right: 0px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/headerBG.jpg");
  height: 200px;

  margin-bottom: 46px;
}

.header__title {
  width: 100%;
  margin: 0;

  font-weight: 600;
  line-height: 57px;
  background-color: var(--cherry);
}

.header__text {
  font-size: 28px;
  line-height: 33px;

  margin-bottom: 96px;
}

/* MAIN SECTION*/
.encuentra,
.investigacion,
.estimacion,
.herramientas,
.canales,
.nicho {
  margin-bottom: var(--marginBetweenSection);
}

.investigacion__title {
  height: 104px;
}

.herramientas__subtitle {
  font-size: 36px;
  line-height: 43px;

  padding-left: 20px;

  color: var(--white);
}

.herramientas__icon {
  width: 60px;
  height: 51px;

  padding-right: 20px;
}

.herramientas__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.herramientas__container-icon {
  background-color: var(--white);
  width: 320px;
  height: 100%;

  margin: -2px 0;
}

.herramientas__link {
  color: var(--black);
  text-decoration: none;
}

.figure {
  position: absolute;
  right: 0;
  top:0;
  margin-right: 249px;

  width: 0;
	height: 0;
	border-bottom: 68px solid var(--white);
	border-left: 68px solid transparent;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;

  width: 250px;
  height: 70px;
  margin: -1px -1px 0 0;

  border: 1px solid var(--black);
  border-left: var(--white);
  background-color: var(--white);
}

.container__estimacion-subtitle {
  position: relative;

  padding: 0 15px;
  margin-bottom: 24px;
  height: 70px;

  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: var(--white);
  background-color: var(--cherry);
  border: 1px solid var(--black);
}

.container__estimacion-subtitle-inside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container__canales-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canales {
  margin-bottom: 96px;
}

.canales__text {
  display: flex;
  flex-wrap: wrap;

  width: 1031px;

  margin-bottom: 32px;
}

.canales__women {
  width: 265px;
  height: 245px;
  margin-left: -5px;
}

.canales__nota {
  max-width: 1076px;;
  padding: 13px 58px;

  margin: 0 auto;

  text-align: center;
  background: var(--white);
  border: 1px solid var(--black);
}

.canales__nota::after {
  content: "";
  width: 70px;
  height: 70px;
  float: right;
  margin: -10px -70px 0 0;
  /* margin: 20px -70px 0 0; */

  background: url("./images/exclamation-circleBig.svg");
  background-repeat: no-repeat;
}

.canales__nota::before {
  content: "";
  width: 23px;
  height: 23px;
  float: left;
  margin: 7px 19px 0 20px;

  background: url("./images/exclamation-circle.svg");
  background-repeat: no-repeat;
}

.nicho {
  margin-bottom: 78px;
}


/* FAQ*/

.faq {
  list-style: none;
  padding: 0;
}

.faq__item {
  background: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  margin-bottom: 24px;

  cursor: pointer;

  transition: all 0.5s ease-out;
}

.faq__item:hover {
  transform: scale(1.02);
}

.faq__title {
  display: block;

  position: relative;

  padding: 15px 24px;

  cursor: pointer;
}

.faq__title::after {
  content: "";

  position: absolute;

  width: 26px;
  height: 26px;
  top: 50%;
  right: 15px;

  background-image: url("../images/line.svg");
  background-repeat: no-repeat;
}

.faq__input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.faq__input:checked ~ .faq__text {
  display: block;
}

.faq__input:checked ~ .faq__title::after {
  transform: translateY(-50%);

  background-image: url("../images/plus-lg.svg");
}

.faq__text {
  display: none;

  padding: 15px 24px;
  font-size: 14px;
}

.faq__container-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

/* MOSTRAR */
.mostrar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.mostrar__p {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.mostrar__p::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -36px;
  width: 22px;
  height: 22px;

  transform: translateY(-50%);

  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
}

.mostrar__p::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -36px;
  width: 22px;
  height: 22px;

  transform: translateY(-50%);

  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
}

.mostrar__input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.mostrar__input:checked ~ .mostrar__content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mostrar__button {
  display: block;

  position: relative;
  padding: 11px;
  margin-bottom: 46px;

  background: var(--cherry);
  border: 1px solid var(--black);
  cursor: pointer;
}

.mostrar__button:hover {
  background-color: var(--cherryHover);
}

.mostrar__button::before {
  content: "";

  position: absolute;
  width: 23px;
  height: 27px;

  top: 50%;
  left: -40px;

  transform: translateY(-50%);

  background-image: url("../images/leftHand.svg");
}


.mostrar__button::after {
  content: "";

  position: absolute;
  width: 23px;
  height: 27px;

  top: 50%;
  right: -40px;

  transform: translateY(-50%);


  background-image: url("../images/rightHand.svg");
}

.mostrar__title {
  padding: 0;
  margin: 0;

  font-weight: 700;

  text-align: center;
  text-transform: uppercase;

  color: var(--white);
}

.mostrar__content {
  display: none;

  padding: 26px 10px;
  margin-bottom: 24px;
  width: 100%;

  background: var(--whiteGrey);
  border: 1px solid var(--black);
}

/* FAQ-CIRCLE */

.faq-circle {
  list-style: none;
  padding: 0;
}

.faq-circle__item {
  position: relative;

  margin-bottom: 24px;
  padding: 0 50px;

  background: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition: all 0.5s ease-out;
}

.faq-circle__item:hover {
  transform: scale(1.02);
}

.faq-circle__title {
  display: flex;
  justify-content: center;
  align-content: center;

  position: relative;

  padding: 15px 24px;

  cursor: pointer;
}

.faq-circle__number {
  display: flex;
  justify-content: center;
  align-items: center;

  content: "";

  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);

  width: 33px;
  height: 33px;

  color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--cherry);
}

.faq-circle__input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.faq-circle__input:checked ~ .faq-circle__text {
  display: block;
}

.faq-circle__text {
  display: none;

  text-align: center;

  padding: 15px 24px;
  font-size: 14px;
}

.faq-circle__container-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.faq-circle__questions-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.faq-circle__questions-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px;
  margin-bottom: 12px;

  position: relative;

  background: var(--whiteGrey);
  border: 1px solid var(--black);
}

.faq-circle__questions-item__text {
  margin: 0;
  padding: 0;
}

.faq-circle__questions-item__line {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  height: 9px;
  background: var(--cherry);
}

.faq-circle__text-nopadding {
  padding: 15px 0;
}


/* MEDIA FOR IMG*/
@media screen and (max-width: 1520px) {
  .faq__img {
    width: 350px;
    height: auto;

    margin-bottom: 20px;
  }

  .container__canales-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1240px) {
  .trends-img {
    width: 550px;
    height: auto;
  }

  .faq__img {
    width: 250px;
    height: auto;

    margin-bottom: 20px;
  }

  .figure {
    margin: 0 149px -2px 0;
    border-bottom: 67px solid var(--white);
    border-left: 67px solid transparent;
  }

  .box {
    width: 150px;
    height: 70px;
    margin: -1px -1px 0 0;
  }

  .mostrar__img {
    width: 800px;
    height: auto;
  }
}

@media screen and (max-width: 1110px) {
  .mostrar__img {
    width: 600px;
    height: auto;
  }
}

/* STYLE FOR TABLETS SCREEN*/
@media screen and (max-width: 820px) {
  * {
    font-size: 22px;
    line-height: 25px;
  }

  .faq__img {
    width: 250px;
    height: auto;

    margin-bottom: 20px;
  }

  .title {
    font-size: 35px;
    line-height: 25px;
  }

  .subtitle {
    font-size: 25px;
    line-height: 30px;
  }

  .estimacion__subtitle {
    font-size: 22px;
  }

  .mostrar__title {
    font-weight: 500;
  }

  .mostrar__button::before{
    left: -30px
  }

  .mostrar__button::after{
    right: -30px;
  }

  .mostrar__p-text {
    font-size: 18px;
  }

  .mostrar__p::after {
    right: -20px;
  }

  .mostrar__p::before {
    left: -20px;
  }

  .mostrar__img {
    width: 450px;
    height: auto;
  }

}

@media screen and (max-width: 720px) {
  .table__text {
    font-size: 12px;
  }

  .mostrar__p::after {
    right: -20px;
  }

  .mostrar__p::before {
    left: -20px;
  }

  .estimacion__subtitle {
    font-size: 18px;
  }

  .box {
    width: 100px;
    height: 70px;
    margin: -1px -1px 0 0;
  }

  .figure {
    margin: 0 99px -1px 0;
  }

  .mostrar__img {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 520px) {
  .mostrar__p::after {
    right: -5px;
  }

  .mostrar__p::before {
    left: -5px;
  }
}
